<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="E:\Coding\C#\TournamentTracker\Data"/>
		<add key="winnerDetermination" value="Greater"/>
		<add key="userEmail" value="f.dreiling@gmail.com"/>
		<add key="userKey" value="xpvjhwiadhgxvavt"/>
		<add key="userName" value="Felix Dreiling"/>
		<add key="emailHost" value="smtp.gmail.com"/>
		<add key="emailPort" value="587"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournaments" connectionString="Server=.\SQLSERVER;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>