<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="C:\Users\drf38\OneDrive\Code\C#\TournamentTracker\Data"/>
		<add key="dataStorage" value="FILES"/>
		<add key="winnerDetermination" value="Greater"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournaments" connectionString="Server=.\SQLSERVER;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>